.page {
    background-color: #2A2C2F;
    display: grid;
    min-width: 320px;
    color: white;
    font-family: "Inter", Arial, sans-serif;
    grid-template-columns: minmax(320px, 1280px);
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    grid-template-areas:
        "header"
        "content"
        "footer";
}