.lead{
  display: grid;
  grid-template-columns: minmax(min-content, 984px);
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
  "title"
  "subtitle"
  "image"
  "caption";
  justify-content: center;
  justify-items: center;
}


@media screen and (max-width: 1024px) {
  .lead {
    grid-template-columns: minmax(min-content, 928px);
  }
}
  
@media screen and (max-width: 768px) {
  .lead {
    grid-template-columns: minmax(min-content, 100%);
  }
}
  