.intro {
    display: grid;
    grid-template-columns: minmax(min-content, 984px);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        " title "
        " text "
        " list ";
    justify-content: center;
}



@media screen and (max-width: 1024px) {
    .intro {
      grid-template-columns: minmax(min-content, 928px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      grid-template-columns: minmax(min-content, 720px);
    }
  }
  